body{
  padding: 0px;
  margin: 0px;
}
.no-scroll{
  overflow: hidden;
}
.self-clear:after, .self-clear:before{
	content: '';
	display: block;
	float: none;
	clear: both;
}
.text-bold{
  font-weight: bold;
}
.container-small{
  width: 100%;
  max-width: 900px;
  margin: 0px auto;
}
/*BOX STYLE DEFINITION*/
.no-border{
  border: none;
}
.dark-glow{
  box-shadow: 0px 0px 11px 1px #444;
}
/*END BOX STYLE*/

.catalogue-item-wrapper .item .item-name{
  font-size: 15px;
  margin: 10px 0px 5px 0px;
  font-weight: bold;
}
/* COLOR DEFINITIONS*/
.font-white{
  color: #fff;
}
.font-black{
  color: #000;
}
.font-dark-grey{
  color: #444;
}
.font-red-orange{
  color : #ed4f00;
}
.font-red{
  color: red;
}
.bg-light-grey1{
  background-color: #e9e7e7;
}
.bg-red-orange{
  background-color: #ed4f00;
}
.bg-style1{
  background: linear-gradient(#444, #acacac, #444);
}
.bg-white{
  background-color: #fff;
}

/*Colors ends*/

.code-enter-form{
  position: absolute;
  top: 14vw;
  width: 100%;
}
.code-enter-form .suzuki-form-control{
  height: 40px;
  min-width: 100px;
  font-weight: bold;
  font-size: 1.2em;
}
.code-enter-form .code-input{
  margin-left: -10px;
  width: 330px;
}

.full-scr-bg{
  background-size: 100%;
  background-repeat: no-repeat;
}
.full-width{
  width: 100%;
}
.clear{
  float: none;
  clear:both;
}
.stick{
  position: absolute;
  z-index: 1;
  right: 0px;
  top: 0px;
}
.stick.logo, .navbar .top-logo{
  width: 14vw;
}

.navbar{
  border: none;
}
.bg-fixed{
  background-image: url('../img/bg-blank.jpg');
  background-size: cover;
  background-position: 100% 0%;
  background-attachment: fixed;
}
.code-enter-section{
  width: 100%;
  max-width: 999px;
  margin: 0px auto;
}
.program-title{
  font-weight: bold;
  font-size: 44px;
  text-shadow: 0px 2px 6px #808080;
}
.claim-form, .semi-transparent{
  background-color: rgba(255,255,255, 0.7);
  padding: 43px 0px;
  margin: 20px auto;
}
.claim-form p.help-block{
  margin: 1px 0px 0px 0px;
  font-size: 12px;
}
.claim-form .form-group{
  min-height: 
79px; 
  margin-bottom: 5px;
}
.padding-15{
  padding: 15px;
}
.claim-form label{
  font-weight: normal;
}
.claim-form .submit{
  width: 100px;
  font-weight: bold;
}
.claim-form .submit-section{
  margin-top: 50px;
}
.page-heading{
  font-size: 30px;
}
.claim-form .message{
  padding: 0px 30px;
  margin: 0px 0px 31px 0px;
}
.suzuki-form-control{
  height: 34px;
  min-width: 80px;
  padding: 0px 15px;
}
.catalogue-item-wrapper .item{
  vertical-align: top;
  width: 280px;
  display: inline-block;
  margin: 10px 20px;
  transition: background 0.4s;
  box-shadow: 0px 0px 10px 2px #8d8d8d;
}
.catalogue-item-wrapper{
  padding-top: 50px;
}
.catalogue-item-wrapper .item img{
  width: 100%;
}
.catalogue-item-wrapper a.item:active,.catalogue-item-wrapper a.item:hover{
  text-decoration: none;
}
.catalogue-item-wrapper a.item:hover .item-wrapper{
  
}
.catalogue-item-wrapper .item .item-wrapper{
  padding: 10px;
  
}
.catalogue-item-wrapper .item .item-wrapper.description{
  min-height: 123px;
}
.top-text a small{
  color: #337ab7; 
  font-weight: normal;
  font-size: 17px;
}
.terms-home{
  color: #0082bf;
  font-size: 16px;
  text-decoration: none;
  display: inline-block;
  padding: 3px 10px;
}
.terms-list li{
  margin: 18px 0px;
}
/*RESPONSIVE SPECS*/
@media screen and (max-width: 991px){
  .code-enter-form{
    position: static;
    margin-top: 20px;
  }
  .code-enter-form .pull-left, .code-enter-form .pull-right{
    float: none !important;
    
  }
  .code-enter-form .code-input{
    width: calc(100% - 196px);
  }
  .code-enter-form button[type="submit"]{
    margin: 20px auto;
    display: block;
    
  }
  .stick.logo{

  }
}
@media screen and (max-width: 450px){
  .code-enter-form .suzuki-form-control{
    width: 100%;
    margin: 0px;
  }
  .code-enter-form button[type="submit"]{
    margin-top: 100px;
  }
  .catalogue-item-wrapper .item{
    margin: 10px 5px;
  }
}