<!DOCTYPE html>
<html>
<head>
    <title>Suzuki</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <link href="img/faviicon.jpg" rel="shortcut icon">

    
    <style>
		
		[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak{
			display: none !important;
		}

		.fade-ng-cloak {
			display: block !important;
			opacity: 1;
			transition: opacity 0.5s;
		}

		.fade-ng-cloak.ng-cloak {
			opacity: 0;
		}
	
    </style>


    <script>

        var dynamicData = {

            items : [
				{
					id : 1,
					img_src : "dummy-items/1.jpg",
					name : "Men’s Watch (MRP: 4999)",
					description : "<p>Brand – UCB , Dial – Round, Case – Stainless Steel, Dial Color – Blue, Strap – Brown</p>"
				},
				{
					id : 2,
					img_src : "dummy-items/2.jpg",
					name : "Women’s Watch (MRP: 4499)",
					description : "Brand – UCB , Dial – Round , Case – Stainless Steel , Dial Color – White, Strap – White"
				},
				{
					id : 3,
					img_src : "dummy-items/3.jpg",
					name : "Pen (MRP: 1999)",
					description : "Brand – UCB , Metal Clip, Ball pen."
				},
				{
					id : 4,
					img_src : "dummy-items/4.jpg",
					name : "Sunglass (MRP: 3999)",
					description : "Brand – Provogue, Type – Aviator , Frame – Metal , Frame Color - Silver"
				},
				
            ],
        }


    </script>


</head>
<!-- <body class="full-scr-bg" style="background-image: url(img/background-hd.jpg)"> -->
<body class="bg-fixed ng-cloak fade-ng-cloak" ng-app="app" ng-controller="Parent">

    <div ng-controller="Catalogue">
        
        <nav class="navbar">
            <a href="index.html">
                <img class="top-logo pull-right" src="img/logo.jpg">
            </a>
            <!-- <h2 class="text-center clear font-red-orange program-title">-CUSTOMER PROMOTION NAME-</h2> -->
        </nav>

        <main class="container-fluid">
            <h3 class="text-center top-text text-bold page-heading">Please select any one item from the below list to claim your gift</h4>

            <div class="catalogue-item-wrapper text-center">
               
                <a ng-href="claim.html?id={{item.id}}" class="item" ng-repeat="item in catalogue.list" title="Click to redeem this">
                    <div class="item-wrapper bg-white">
                        <table class="thumb-container full-width">
                            <tr>
                                <td>
                                    <img ng-src="{{item.img_src}}">
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="item-wrapper bg-light-grey1 description">
                        <h3 class="item-name font-dark-grey" ng-bind="item.name"></h3>
                        <div class="item-description font-black" ng-custombind="item.description"></div> 
                    </div>
                </a>
            </div>


        </main>

    </div>
    
    <script src="libs/angular.min.js"></script>
    <script src="libs/angular-messages.js"></script>
    <script src="js/app.js"></script>
    <script src="js/services.js"></script>
    <script src="js/directives.js"></script>
    <script src="js/controllers.js"></script>

    
</body>
</html>