<!DOCTYPE html>
<html>
<head>
    <title>Suzuki</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="libs/dhtml_datepicker/dhtmlxcalendar.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
	
    <link href="img/faviicon.jpg" rel="shortcut icon">

    
    <style>
		
		[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak{
			display: none !important;
		}

		.fade-ng-cloak {
			display: block !important;
			opacity: 1;
			transition: opacity 0.5s;
		}

		.fade-ng-cloak.ng-cloak {
			opacity: 0;
		}
	
    </style>


    <script>

        var dynamicData = {

            item_detils : {
                img_src : "dummy-items/1.jpg",
                name : 'UCB Gents Watch',
                description : "<p>RTS&Tradetrade; 3 Port USB 2.0 Hub + All In One COMBO Card Reader for Pen Drive, cameras, mobiles, PC, Laptop, Notebook, Tablet, or Docking Station</p><ul><li>Supports: T-Flash card, MS, MS Pro, MS Duo, MS Pro Duo, Mini SD, SD, RS, MMC, Micro MS- 2</li><li>The Rts (Radhey Techno Servies) All In One COMBO Card Reader is PLUG AND PLAY</li><li>3 USB Hub With High speed USB 2.0 Connectivity</li><li>High transfer rate of up to 480 Mbps</li><li>2 Year Warranty with Rts (Radhey Techno Services)</li><li>The Rts (Radhey Techno Servies)</li></ul>"
            },

            related_items : [
               
            ],


        }

        for(var i = 0, j = 1; i < 20; i++, j = (j > 5)? 1 : ++j){
            dynamicData.related_items.push({
                id : i,
                img_src : "dummy-items/"+j+".jpg",
                name : "UCB Gents Watch",
                description : "<p>RTS&Tradetrade; 3 Port USB 2.0 Hub + All In One COMBO Card Reader for Pen Drive, cameras, mobiles, PC, Laptop, Notebook, Tablet, or Docking Station</p>"
            });
        }


    </script>


</head>
<!-- <body class="full-scr-bg" style="background-image: url(img/background-hd.jpg)"> -->
<body class="bg-fixed ng-cloak fade-ng-cloak" ng-app="app" ng-controller="Parent">

    <div ng-controller="Claim">
        
        <nav class="navbar">
            <a href="index.html">
                <img class="top-logo pull-right" src="img/logo.jpg">
            </a>
            <!-- <h2 class="text-center clear font-red-orange program-title">CLAIM</h2> -->
        </nav>

        <main class="container-fluid">

            <div class="self-clear">
                
                <h3 class="text-center top-text text-bold page-heading">You have selected {{item.value.name}} <a class="text-center" href="catalogue.html" title="Go back to catalogue page and change your selection"><small>change</small></a></h3>
                
                <!-- <div class="col-sm-4 col-md-3 col-lg-2">
                    <img class="full-width" ng-src="{{item.value.img_src}}">
                </div>

                <div class="col-sm-8 col-md-9 col-lg-10">
                    <h3 class="font-red-orange program-title" ng-bind="item.value.name"></h3>
                    <div ng-custombind="item.value.description"></div>                                        
                </div> -->
            </div>

            <form name="claimForm" class="row claim-form" action="redeemed-message.html" ng-submit="submit()">
                <h4 class="message">Please provide all the details listed below for us to validate your claim. Your reward item will be shipped out to address provided by you.</h4>

                <p><small class="message font-red">All * are mandatory.</small></p>
                
                <div class="col-sm-6">
                    
                    <h3 class="col-sm-12">Purchase Details</h3>
                    
                    <div class="form-group col-sm-12" ng-class="(claimForm.state.$touched)?((claimForm.state.$invalid)?'has-error':'has-success'):''">
                        <label>State *</label>
                        <select class="form-control" required name="state" ng-model="form.state.value">
                            <option value="">Select</option>
                            <option value="1">Value 1</option>
                        </select>
                        <div ng-messages="claimForm.state.$error" ng-show="claimForm.state.$touched"><div ng-messages-include="error-messages"></div></div>
                    </div>

                    <div class="form-group col-sm-12" ng-class="(claimForm.city.$touched)?((claimForm.city.$invalid)?'has-error':'has-success'):''">
                        <label>City *</label>
                        <select class="form-control" required name="city" ng-model="form.city.value">
                            <option value="">Select</option>
                            <option value="1">Value 1</option>
                        </select>
                        <div ng-messages="claimForm.city.$error" ng-show="claimForm.city.$touched"><div ng-messages-include="error-messages"></div></div>
                    </div>
                    
                    <div class="form-group col-sm-12" ng-class="(claimForm.dealer_name.$touched)?((claimForm.dealer_name.$invalid)?'has-error':'has-success'):''">
                        <label>Dealer Name *</label>
                        <select class="form-control" required name="dealer_name" ng-model="form.dealer_name.value">
                            <option value="">Select</option>
                            <option value="1">Value 1</option>
                        </select>
                        <div ng-messages="claimForm.dealer_name.$error" ng-show="claimForm.dealer_name.$touched"><div ng-messages-include="error-messages"></div></div>
                    </div>

                    <div class="form-group col-sm-12" ng-class="(claimForm.model_name.$touched)?((claimForm.model_name.$invalid)?'has-error':'has-success'):''">
                        <label>Model Name *</label>
                        <select class="form-control" required name="model_name" ng-model="form.model_name.value">
                            <option value="" selected>Select</option>
							<option value="1">Suzuki Gixxer SF</option>
							<option value="1">Suzuki GIxxer SF Fi</option>
							<option value="1">Suzuki Access 125</option>
							<option value="1">Suzuki Access 125 SE</option>
							<option value="1">Suzuki Let’s</option>
							<option value="1">Suzuki Hayate</option>

                        </select>
                        <div ng-messages="claimForm.model_name.$error" ng-show="claimForm.model_name.$touched"><div ng-messages-include="error-messages"></div></div>
                    </div>
                   
                    <div class="form-group col-sm-12" ng-class="(claimForm.invoice_no.$touched)?((claimForm.invoice_no.$invalid)?'has-error':'has-success'):''">
                        <label>Invoice No. *</label>
                        <input type="text" class="form-control" name="invoice_no" ng-model="form.invoice_no.value" required>
                        <div ng-messages="claimForm.invoice_no.$error" ng-show="claimForm.invoice_no.$touched"><div ng-messages-include="error-messages"></div></div>
                    </div>
                    
                    <div class="form-group col-sm-12" ng-class="(claimForm.invoice_date.$touched)?((claimForm.invoice_date.$invalid)?'has-error':'has-success'):''">
                        <label>Invoice Date *</label>
                        <input type="text" name="invoice_date" class="form-control" ng-input-date="form.invoice_date" required placeholder="Pick a date" ng-model="form.invoice_date.value">
                        <div ng-messages="claimForm.invoice_date.$error" ng-show="claimForm.invoice_date.$touched"><div ng-messages-include="error-messages"></div></div>
                    </div>

                    <div class="form-group col-sm-12" ng-class="(claimForm.chassis_no.$touched)?((claimForm.chassis_no.$invalid)?'has-error':'has-success'):''">
                        <label>Chassis No. *</label>
                        <input type="text" class="form-control" name="chassis_no" ng-model="form.chassis_no.value" required>
                        <div ng-messages="claimForm.chassis_no.$error" ng-show="claimForm.chassis_no.$touched"><div ng-messages-include="error-messages"></div></div>
                    </div>

                </div>

                <div class="col-sm-6">
                    <h3 class="col-sm-12">Personal Details</h3>

                    <div class="form-group col-sm-6" ng-class="(claimForm.person_salutation.$touched)?((claimForm.person_salutation.$invalid)?'has-error':'has-success'):''">
                        <label>Salutation *</label>
                        <select class="form-control" required name="person_salutation" ng-model="form.person_salutation.value">
                            <option value="">Select</option>
                            <option value="1">Value 1</option>
                        </select>
                         <div ng-messages="claimForm.person_salutation.$error" ng-show="claimForm.person_salutation.$touched"><div ng-messages-include="error-messages"></div></div>
                    </div>

                    <div class="clear"></div>

                    <div class="form-group col-sm-6" ng-class="(claimForm.customer_first_name.$touched)?((claimForm.customer_first_name.$invalid)?'has-error':'has-success'):''">
                        <label>Customer First name *</label>
                        <input type="text" class="form-control" required name="customer_first_name" ng-model="form.customer_first_name.value">
                        <div ng-messages="claimForm.customer_first_name.$error" ng-show="claimForm.customer_first_name.$touched"><div ng-messages-include="error-messages"></div></div>
                    </div>
                    
                    <div class="form-group col-sm-6" ng-class="(claimForm.customer_last_name.$touched)?((claimForm.customer_last_name.$invalid)?'has-error':'has-success'):''">
                        <label>Customer Last name *</label>
                        <input type="text" class="form-control" required name="customer_last_name" ng-model="form.customer_last_name.value">
                        <div ng-messages="claimForm.customer_last_name.$error" ng-show="claimForm.customer_last_name.$touched"><div ng-messages-include="error-messages"></div></div>
                    </div>
                    
                    <div class="form-group col-sm-12" ng-class="(claimForm.person_address1.$touched)?((claimForm.person_address1.$invalid)?'has-error':'has-success'):''">
                        <label>Address 1 *</label>
                        <input type="text" class="form-control" required name="person_address1" ng-model="form.person_address1.value">
                        <div ng-messages="claimForm.person_address1.$error" ng-show="claimForm.person_address1.$touched"><div ng-messages-include="error-messages"></div></div>
                    </div>
                    
                    <div class="form-group col-sm-12" ng-class="(claimForm.person_address2.$touched)?((claimForm.person_address2.$invalid)?'has-error':'has-success'):''">
                        <label>Address 2</label>
                        <input type="text" class="form-control" name="person_address2" ng-model="form.person_address2.value">
                    </div>
                    
                    <div class="form-group col-sm-12" ng-class="(claimForm.person_address3.$touched)?((claimForm.person_address3.$invalid)?'has-error':'has-success'):''">
                        <label>Address 3</label>
                        <input type="text" class="form-control" name="person_address3" ng-model="form.person_address3.value">
                    </div>

                    <div class="form-group col-sm-6" ng-class="(claimForm.person_city.$touched)?((claimForm.person_city.$invalid)?'has-error':'has-success'):''">
                        <label>City *</label>
                        <select class="form-control" required name="person_city" ng-model="form.person_city.value">
                            <option value="">Select</option>
                            <option value="1">Value 1</option>
                        </select>
                        <div ng-messages="claimForm.person_city.$error" ng-show="claimForm.person_city.$touched"><div ng-messages-include="error-messages"></div></div>
                    </div>

                    <div class="form-group col-sm-6" ng-class="(claimForm.person_state.$touched)?((claimForm.person_state.$invalid)?'has-error':'has-success'):''">
                        <label>State *</label>
                        <select class="form-control" required name="person_state" ng-model="form.person_state.value">
                            <option value="">Select</option>
                            <option value="1">Value 1</option>
                        </select>
                        <div ng-messages="claimForm.person_state.$error" ng-show="claimForm.person_state.$touched"><div ng-messages-include="error-messages"></div></div>
                    </div>

                    <div class="form-group col-sm-6" ng-class="(claimForm.person_pincode.$touched)?((claimForm.person_pincode.$invalid)?'has-error':'has-success'):''">
                        <label>Pincode *</label>
                        <input type="number" min="100000" max="999999" name="person_pincode" class="form-control" required ng-model="form.person_pincode.value">
                        <div ng-messages="claimForm.person_pincode.$error" ng-show="claimForm.person_pincode.$touched"><div ng-messages-include="error-messages"></div></div>
                    </div>

                    <div class="form-group col-sm-6" ng-class="(claimForm.person_mobile.$touched)?((claimForm.person_mobile.$invalid)?'has-error':'has-success'):''">
                        <label>Mobile no. *</label>
                        <input type="number" class="form-control" min="1000000000" max="9999999999" name="person_mobile" ng-model="form.person_mobile.value" required>
                        <div ng-messages="claimForm.person_mobile.$error" ng-show="claimForm.person_mobile.$touched"><div ng-messages-include="error-messages"></div></div>
                    </div>

                    <div class="form-group col-sm-6" ng-class="(claimForm.person_landline.$touched)?((claimForm.person_landline.$invalid)?'has-error':'has-success'):''">
                        <label>Landline no.</label>
                        <input type="number" min="1000000000" max="9999999999" class="form-control" name="person_landline" ng-model="form.person_landline.value">
                        <div ng-messages="claimForm.person_landline.$error" ng-show="claimForm.person_landline.$touched"><div ng-messages-include="error-messages"></div></div>
                    </div>

                    <div class="form-group col-sm-6" ng-class="(claimForm.person_email.$touched)?((claimForm.person_email.$invalid)?'has-error':'has-success'):''">
                        <label>Email id</label>
                        <input type="email" name="person_email" class="form-control" ng-model="form.person_email.value">
                        <div ng-messages="claimForm.person_email.$error" ng-show="claimForm.person_email.$touched"><div ng-messages-include="error-messages"></div></div>
                    </div>

                    <div class="col-sm-12 submit-section">
                        <div class="pull-left">
                            <input type="checkbox" required> <label>I have read and accept the <a href="terms-conditions.html" target="_blank">Terms & Conditions</a></label>
                        </div>
                        <button type="submit" class="submit pull-right btn bg-red-orange dark-glow font-white">SUBMIT</button>
                    </div>

                </div>               
                
            
            </form>

            <script type="text/ng-template" id="error-messages">
                <p class="help-block" ng-message="required">This field is mandatory</p>
                <p class="help-block" ng-message="email">Please enter a valid email address</p>
                <p class="help-block" ng-message="min">Value is less than expected</p>
                <p class="help-block" ng-message="max">Value is more than expected</p>
                <p class="help-block" ng-message="number">Please enter numeric values</p>
            </script>

        </main>

    </div>
    
	<script src="libs/dhtml_datepicker/dhtmlxcalendar.js"></script>
    <script src="libs/angular.min.js"></script>
    <script src="libs/angular-messages.js"></script>
    <script src="js/app.js"></script>
    <script src="js/services.js"></script>
    <script src="js/directives.js"></script>
    <script src="js/controllers.js"></script>

    
</body>
</html>